<lasso-page package-path="./browser.json"/>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datastore demo</title>
    <lasso-head/>
</head>
<body>
    <h1 id="header">Data Store Demo</h1>
    <div id="currentData"></div>
    <div id="console"></div>

    <lasso-body/>
</body>
</html>